version: 2.0

jobs:
  build:
    resource_class: small
    docker:
      - image: circleci/golang:1.16.2
      - image: tetrate/elasticsearch:6.4.3
    environment:
      GOGC: "20"
      GOMAXPROCS: "2"
    steps:
      - checkout
      - run: make push
      - run: ./ci/wait
      - run: ./ci/test
  release:
    docker:
      - image: circleci/golang:1.16.2
    steps:
      - checkout
      - setup_remote_docker
      - run: echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
      - run: curl -sL https://git.io/goreleaser | bash

workflows:
  version: 2
  all:
    jobs:
      - build
  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
